body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;         
    padding: 0; 
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 0.1rem;
}

#navbar {
    background-color: rgba( 45, 20, 44, .8);
    padding: 1.2rem;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.brand-position {
    display: flex;
    width: 30%;
}

#navbar-brand {
    color: #ee4540;
    font-size: 30px;
    font-weight: 800;
    border-right: 3px solid #ee4540;
    padding-right: 2rem;
    text-decoration: none;
    letter-spacing: 1px;
}

.nav-position {
    display: flex;
    width: 70%;
}

#navbar-nav a {
    text-decoration: none;
    color: #ee4540;
    font-size: 1rem;
    font-weight: 600;
    display: inline-block;
    padding: 0.9rem 1.5rem;
    letter-spacing: 2px;
    position: relative;
    text-transform: uppercase;
}

#navbar-nav a::after {  
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #c72c41;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

#navbar-nav a:hover:after { 
  width: 100%; 
  left: 0; 
}
@media screen and (max-height: 300px) {
	ul {
		margin-top: 40px;
	}
}

/*------> Home Page <------*/
#home-bg {
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.5)), url(./image/trybg2.jpg) center/cover no-repeat fixed;
    overflow: hidden;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    color: #801336;
}

#home h1 {
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: 3px;
    line-height: 9rem;
    padding: 3rem;
}

#home h1 span {
    font-weight: 500;
}

#index-text {
    font-family: 'Italianno', cursive;
    color: #c72c41;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}

#icons img{
    height: 2.5rem;
    padding: 0.9rem 0.6rem;
}


/*------> About Page <------*/

#about{
    background-color: #c72c41;
    min-height: 100vh;
    overflow: hidden;
    width: 100%;
}

.all-position{
    display: flex;
    flex-direction: row;
}

.about-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    min-height: 100vh;
}

.about-left h3 {
    font-size: 70px;
    line-height: 0;
    font-family: 'Italianno', cursive;
    margin: 0;
    padding: 5rem 0 5rem 0;
    letter-spacing: 2px;
    color:  #510a32;
}

#details{
    letter-spacing: 1px;
    line-height: 2.5rem;
    color: #2d142c;
}

#details h4 {
    padding-top: 2rem;
}

#details h4 span {
    font-weight: 500;
    font-style: italic;
    
}

.pic-position {
    display: flex;
    align-items: center;
    justify-content:center;
    min-height: 100vh;
    width: 50%;
}

.pic-container{
    width: 75%;
    padding-top: 3rem;
}

#my-picture img{
    width: 100%;
    border-radius: 50%;
}


/*------> Skills Page <------*/

.skills-bg {
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.5)), url(./image/skills-bg.gif) center/cover no-repeat fixed;
    overflow: hidden;
    color: #c72c41;
}

.skills-container{
    background-color: rgba(81,10,50,0.6);
    width: 50%;
    height: 50%;
}

.skills-position {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skills-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.skills-icon .column{
    display: flex;
    flex-direction: column;
}

.skills-icon .column img{
    width: 6rem;
    padding: .9rem 3rem;
}

#skills h1 {
    margin: 0;
    line-height: 0;
    padding: 2rem;
    font-size: 39px;
    font-weight: 900;
    letter-spacing: 5px;
}

#skills h2 {
    margin: 0;
    line-height: 0;
    padding-bottom: 1.5rem;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 1px;
}


/*------> Project Page <------*/

#project {
    background-color: #ee4540;
    overflow: hidden;
    width: 100%;
}

.project-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.project-container h1{
    padding: 3rem 0 0 0;
    font-size: 50px;
    color: #2d142c;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.project-container h3{
    font-size: 20px;
    color: #801336;
    text-transform: capitalize;
    letter-spacing: 4px;
}

#To-do-list img{
    height: 400px;
    padding: 0.6rem 0.3rem;
}

/*------> Contact Page <------*/

#contact {
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(./image/contactbg.gif) top/cover no-repeat fixed;;
    overflow: hidden;
    color: #c72c41;
    min-height: 100vh;
}

#contact-container {
    background-color: rgba(81,10,50,0.8);
    width: 50%;
    height: 50%;
    
}

.contact-position {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#contact-container h2{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.row {
    display: flex;
    flex-direction: row;
}

.img-position{
    width: 35%;
    display: flex;
    flex-direction: row-reverse;
}

.contact-icons{
    display: flex;
    flex-direction: column;
}

.contact-icons img{
    width: 100%;
    height: 2rem;
    padding: .5rem 0 .7rem 0;
}

.row ul {
    list-style: none;
}

.row ul li {
    padding: 0 0 1.5rem 0;
    line-height: 1.5rem;
}

#main-footer{
    position: relative;
    bottom: 4px;
    background: transparent;
    background-color: #f1f1f1;
    color: #404040;
    font-size: 12px;
    text-align: center;
    padding: 5px;
}

/*------> Responsive website <------*/

@media screen and (max-width:1000px) {
    /*----> Skills page <-----*/
    .skills-icon .column img{
        width: 6rem;
        padding: .9rem 1rem;
    }
}

@media screen and (max-width:1030px){
    /*------> About Page <------*/
    .about-left h3 {
        font-size: 55px;
    }
}



/*----> ipad <-----*/

@media screen and (max-width:830px) {

    #navbar {
        flex-direction: column;
        align-items: center;
    }
    #navbar-brand {
        font-size: 30px;
        font-weight: 800;
        border-right: 0;
    }
    .nav-position {
        width: 100%;
        justify-content: center;
    }
    #navbar-nav a {
        padding: 0.9rem 1.5rem;
    }
    /*------> Home Page <------*/
    #index-text {
        font-size: 2.3rem;
        letter-spacing: 2px;
    }

    #icons img{
        height: 2.5rem;
        padding: 0.9rem 0.6rem;
    }

    /*------> About Page <------*/

    .all-position{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .pic-position {
        min-height: 0vh;
        width: 100%;
    }  

    .pic-container{
        width: 50%;
        padding-top: 4rem;
    }

    .about-left {
        width: 100%;
        min-height: 0vh;
    }

    .about-left h3 {
        font-size: 70px;
        padding: 2.5rem 0 3rem 0;
    }

    #details{
        font-size: 19px;
    }

    #details h4 {
        padding-top: 1.5rem;
    }

    /*------> Contact Page <------*/
    .img-position{
        width: 25%;
    }
}

/*----> mini ipad <-----*/
@media screen and (max-width:720px) {
    /*------> Contact Page <------*/
    .row ul li {
        font-size: 14px;
    }
}

/*----> phone <-----*/
@media screen and (max-width:670px) {
    /*------> Home Page <------*/
    #index-text {
        font-size: 3rem;
    }


    /*----> Skills page <-----**/
    .skills-container{
        width: 80%;
        height: 75%;
    }

    .skills-icon {
        flex-direction: column;
        align-items: center;
    }

    .skills-icon .column img{
        width: 9rem;
    }
}

@media screen and (max-width:643px) {
    #navbar-nav a {
        padding: 0.9rem .8rem;
        font-size: 0.8rem;
    }
}

@media screen and (max-width:553px) {
    /*------> Contact Page <------*/
    .row ul li {
        font-size: 11px;
    }
}

@media screen and (max-width:471px) {
    /*------> Contact Page <------*/
    .row ul li {
        font-size: 9px;
    }
}